* {
    font-family: sans-serif;
    margin: 0;
}
.navbar-links {
    display: flex;
    justify-content: center;
    gap: 32px;
}
.navbar-links a {
    text-decoration: none;
    color: white;
    padding: 8px 0;
    transition: 0.3s all ease-in-out;
}
.navbar-links a:hover {
opacity: 0.7;
}
.navbar-bg {
    padding: 60px 40px 120px 40px;
    background: #777 
    url(./images/background-image.jpg) no-repeat center;
    background-blend-mode: multiply;
    background-size: cover;
}
.header h1 {
    color: white;
    text-align: center;
}
.header {
    margin: 180px 48px 120px 48px;
}
.active-link {
    border-bottom: 3px solid white;
}
.content {
    padding: 80px 16vw;
}